<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954064394506-fmd493jdi7sv1h59qp49b7aae5fra5jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954064394506-fmd493jdi7sv1h59qp49b7aae5fra5jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBfEqBW9FLPNMasYs5qqCx543Ycl_nWavE</string>
	<key>GCM_SENDER_ID</key>
	<string>954064394506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Peng.ProjexSync</string>
	<key>PROJECT_ID</key>
	<string>projexsync</string>
	<key>STORAGE_BUCKET</key>
	<string>projexsync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954064394506:ios:ed3610d3b6cd4030e342f3</string>
</dict>
</plist>